<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'homework' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start" >
        <ion-menu-button><ion-icon class="text-white" [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title >{{ 'homework' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="homework">
    <div class="">
      <div class="card-header">
        {{'send_homework_to_classes' | translate }}
      </div>
      <div class="card-body card_body">


        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="border border-primary">
          <ion-item>
            <ion-label>{{ 'class' | translate }}</ion-label>
            <ionic-selectable #portComponent name="class" item-content [(ngModel)]="select_datas.class" itemValueField="id"
              itemTextField="name" [items]="classs" [canSearch]="true" [hasVirtualScroll]="true" [isMultiple]="true"
              (onChange)="classChange($event)" #class="ngModel" required>
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon [md]="'close-circle'" [ios]="'close-circle'" style="font-size: 24px;"></ion-icon>
              </ng-template>
              <ng-template ionicSelectableFooterTemplate>
                <ion-toolbar>
                  <ion-row>
                    <ion-col [size]="4">
                      <ion-button expand="full"
                        (click)="toggleItems(true)">
                        Select All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full"
                        (click)="toggleItems(false)">
                        Deselect All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="confirm()">
                        OK
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'date' | translate }}</ion-label>
            <ion-datetime name="s_date" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
              [(ngModel)]="select_datas.s_date" #s_date="ngModel" required></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'subject' | translate }}</ion-label>
            <ionic-selectable name="subject" item-content [(ngModel)]="select_datas.subject" itemValueField="id"
              itemTextField="name" [items]="subjects" [canSearch]="true" 
              #subject="ngModel" required>
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon [md]="'close-circle'" [ios]="'close-circle'" style="font-size: 24px;"></ion-icon>
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'message' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea type="text" name="message" [(ngModel)]="select_datas.message" #message="ngModel" required>
            </ion-textarea>
          </ion-item>
          <div class="p-1">
            <button type="submit" class="btn btn-primary">{{'save' | translate}}</button>
          </div>
        </form>

      </div>
    </div>


    <div class="cardlist" *ngFor="let d of gethw;">
      <div class="card-header py-1">
        <div class="row align-items-center">
          <div class="col">
            {{d.CLASS}} - {{d.subject}}
          </div>
          <div class="col text-right">
            <button type="button" class="btn bg-white ml-1">
              <ion-icon class="text-danger" [md]="'trash-sharp'" (click)="deletehomework(d.MSG_ID)"></ion-icon>
            </button>

          </div>
        </div>
      </div>
      <div class="card-body card_body border border-primary">
        {{d.MESSAGE}}
      </div>
    </div>
  </div>


</ion-content>