.circulars {
  .icon-width{
    width: 50px!important;
    height: 50px!important;
}
  .card_body {
    padding-top: 0px !important;
  }

  .borbot {
    // border : 1px solid Grey;
    border-left: 5px solid rgb(252, 29, 215);
    // padding: 5px;
  }

  .borbot:nth-of-type(odd) {
    border-left: 5px solid rgb(163, 29, 252);
  }

  ion-card {
    background: #fff;
  }



  ion-card-content {
    border-radius: 0px 0px 10px 10px;
  }

  .dm {
    text-align: center;
    float: left;
    width: 12%;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 8%;

  }

  .date {
    color: Red;
    float: right;
    // border: 1px solid #00CCCC;
  }

  .message {
    width: 75%;
    font-size: 12px;
    float: left;
    color: #000;
    background-color: transparent;
    line-height: 3ex;
    user-select: text;
    margin-top: 3%;
  }


  .name {
    font-size: 12px;
    color: red;
  }
 

  

}


 
