<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'personalized-messages' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start" >
        <ion-menu-button><ion-icon class="text-white" [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title >{{ 'personalized-messages' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="personalized">
    <div class="">
      <div class="card-header">
        {{'send_message_to_students' | translate }}
      </div>
      <div class="card-body card_body">


        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate class="border border-primary">
          <ion-item>
            <ion-label>{{ 'class' | translate }}</ion-label>
            <ionic-selectable name="class" item-content [(ngModel)]="select_datas.class" itemValueField="id"
              itemTextField="name" [items]="classs" [canSearch]="true" 
              (onChange)="classChange($event)" #class="ngModel" required>
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon [md]="'close-circle'" [ios]="'close-circle'" style="font-size: 24px;"></ion-icon>
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <span *ngIf="f.submitted && class.invalid" class="text-danger">Select Class</span> 
          <ion-item>
            <ion-label>{{ 'date' | translate }}</ion-label>
            <ion-datetime name="s_date" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
              [(ngModel)]="select_datas.s_date" #s_date="ngModel" required></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'students' | translate }}</ion-label>
            <ionic-selectable #portComponent name="student" item-content [(ngModel)]="select_datas.student" [hasVirtualScroll]="true" itemValueField="id"
              itemTextField="name" [items]="students" [canSearch]="true" [isMultiple]="true"
               #student="ngModel" required>
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon [md]="'close-circle'" [ios]="'close-circle'" style="font-size: 24px;"></ion-icon>
              </ng-template>
              <ng-template ionicSelectableFooterTemplate>
                <ion-toolbar>
                  <ion-row>
                    <ion-col [size]="4">
                      <ion-button expand="full"
                        (click)="toggleItems(true)">
                        Select All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full"
                        (click)="toggleItems(false)">
                        Deselect All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="confirm()">
                        OK
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <span *ngIf="f.submitted && student.invalid" class="text-danger">Select Student</span> 
          <ion-item>
            <ion-label>{{ 'message' | translate }}</ion-label>
          </ion-item>
          
         
          <ion-item>
            <ion-textarea type="text" name="message" [(ngModel)]="select_datas.message" #message="ngModel" required>
            </ion-textarea>
          </ion-item>
          <span *ngIf="f.submitted && message.invalid" class="text-danger">Enter Message</span> 
          <ion-item>
            <div class="row w-100 align-items-center text-center">
              <div class="col-8">
                {{select_datas.filename}}
              </div>
              <div class="col-4">
                <ion-icon [ios]="'folder-open-sharp'" [md]="'folder-open-sharp'" class="icon-width text-success" (click)="open()"></ion-icon>
              </div>
              <div class="col-12">
                <hr class="bg-info">
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-danger" (click)="deletefile()"><ion-icon [ios]="'trash-sharp'" [md]="'trash-sharp'"  ></ion-icon> Delete</button>
              </div>
              <div class="col-12 text-danger" *ngIf="error" >
                only allow jpg, jpeg, png, pdf, mp3.
              </div>
            </div>
          </ion-item>
          <ion-item>
            <button  type="button" class="btn btn-primary btn-block" (click)="stopRecord()" *ngIf="recording"><ion-icon [ios]="'mic-off-sharp'" [md]="'mic-off-sharp'" ></ion-icon>&nbsp;&nbsp;Stop Record</button>
            <button  type="button" class="btn btn-primary btn-block" (click)="startRecord()" *ngIf="!recording"><ion-icon [ios]="'mic-off-sharp'" [md]="'mic-off-sharp'" ></ion-icon>&nbsp;&nbsp;Start Record</button>
          </ion-item>
          <ion-item *ngIf="select_datas.ftype=='mp3'">
            <audio controls controlsList="noplaybackrate nodownload">
            <source [src]="select_datas.image" type="audio/mpeg"></audio>
          </ion-item>
          <div class="p-1">
            <button type="submit" class="btn btn-primary">{{'save' | translate}}</button>
          </div>
        </form>

      </div>
    </div>


    <div class="cardlist" *ngFor="let d of grpmes;">
      <div class="card-header py-1">
        <div class="row align-items-center">
          <div class="col">
            {{d.name}} ({{d.CLASSSEC}})
          </div>
          <div class="col text-right">
            <button type="button" class="btn bg-white mx-1">
              <ion-icon class="text-success" [md]="'send-sharp'" (click)="movegrouptofinal([{ID:d.ID}])"></ion-icon>
            </button>
            <button type="button" class="btn bg-white ml-1" (click)="deletecirculars(d.ID)">
              <ion-icon class="text-danger" [md]="'trash-sharp'"></ion-icon>
            </button>
  
          </div>
        </div>
      </div>
      <div class="card-body card_body border border-primary">
        {{d.message}}
        <br *ngIf="d.event_image && d.event_image.length>0">
        <img alt="" [src]="d.event_image" class="w-100" *ngIf="checkimage(d.event_image)">

          <div class="row w-100 align-items-center m-0 p-0" *ngIf="checkpdf(d.event_image)">
            <div class="col-12">
              {{getfilename(d.event_image)}}
            </div>
            <div class="col-12">
              <button type="button" class="btn btn-primary m-0 px-0" (click)="authservice.open(d.event_image)" ><img class="logo_img" src="../../assets/imgs/speakers/pdf.png"> Download</button>
            </div>
          </div>

        <div *ngIf="checkmp3(d.event_image)">
          <audio controls controlsList="noplaybackrate nodownload" class="w-100">
            <source src="{{d.event_image}}" type="audio/mpeg" >
          </audio>
        </div> 
      </div>
    </div>
  
    <div class="" *ngIf="grpmes.length>0">
      <div class="card-body card_body">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="moveFinalgroupAll()">{{'send_aLl_messages' | translate}}</button>
      </div>
    </div>

    <div class="cardlist" *ngIf="senditems.length>0">
      <div class="card-header py-1">
        <div class="row align-items-center">
          <div class="col">
            {{ 'sended_message' | translate }}
          </div>
        </div>
      </div>
      <div class="card-body card_body border border-primary p-0 bodytable">
        <table *ngIf="senditems.length" class="table table-bordered">
          <thead>
            <tr>
              <th style="
              width: 40%;
          ">{{ 'name' | translate }}</th>
              <th>{{ 'message' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of senditems;">
              <td>{{s.Admission_No}}-{{s.name}}</td>
              <td>{{s.message}}
                <br *ngIf="s.event_image && s.event_image.length>0">
                <img alt="" [src]="s.event_image" class="w-100" *ngIf="checkimage(s.event_image)">
    
                  <div class="row w-100 align-items-center m-0 p-0" *ngIf="checkpdf(s.event_image)">
                    <div class="col-12">
                      {{getfilename(s.event_image)}}
                    </div>
                    <div class="col-12">
                      <button type="button" class="btn btn-primary m-0 px-0" (click)="authservice.open(s.event_image)" ><img class="logo_img" src="../../assets/imgs/speakers/pdf.png"> Download</button>
                    </div>
                  </div>
  
                <div *ngIf="checkmp3(s.event_image)">
                  <audio controls controlsList="noplaybackrate nodownload" class="w-100">
                    <source src="{{s.event_image}}" type="audio/mpeg" >
                  </audio>
                </div> 

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  


</ion-content>